nav{
    display: inline;
}
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul>li>a{
    color:beige;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav>ul>li{
    background-color: #333;
}
nav>ul>li:nth-of-type(2n+1)>a{
    color: cadetblue;
}
nav>ul>li{
    display: flex;
    float: left;
    position:sticky;
}